@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
body {
  font-family: Lato, sans-serif;
}

/* NAVIGATION */
.bg-light {
  background: #2b383c !important;
  padding-top: 30px;
  border-bottom: 4px solid #98ab7a;
  font-size: 24px;
  letter-spacing: 1px;
}

.bg-light #brand-home {
  color: #ffffff;
  border-top: 1px solid #98ab7a;
  border-bottom: 1px solid #98ab7a;
}

.bg-light .nav-link {
  font-size: 20px;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #ffffff;
  border-right: 2px solid #98ab7a;
}

#homeNav,
#login-userNav {
  border-left: 2px solid #98ab7a;
}

/* NAVBAR TOGGLER */
.navbar-light .navbar-toggler {
  border-color: #ffffff;
}

@media (max-width: 991px) {
  .bg-light {
    padding-top: 30px;
  }
  #homeNav,
  #login-userNav {
    border-left: none;
  }
  .navbar-light .navbar-nav .active > .nav-link {
    border: none;
  }
}

/* Forms */
form {
  padding-top: 120px;
}

/* HOME */
#home h1 {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 80px;
  letter-spacing: 6px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

#home h1 p {
  color: #98ab7a;
}

#home h1 #header-text {
  font-size: 20px;
  letter-spacing: 2px;
}

#home .img-fluid {
  background: no-repeat, center, center;
  background-size: cover;
  height: 100vh;
  width: 102%;
}

#home #award-winner {
  position: absolute;
  top: 150px;
  right: 155px;
  width: 180px;
  height: 166px;
  text-align: center;
  background: #98ab7a;
  color: #ffffff;
  border-radius: 6px;
  font-size: 27px;
}

#home #arrow {
  border-style: solid;
  border-width: 45px 88px 0 90px;
  position: absolute;
  top: 164px;
  right: 1px;
  border-color: #98ab7a transparent transparent transparent;
}

@media (max-width: 1048px) {
  #home h1 {
    top: 70%;
    font-size: 2.4em;
  }
  #home h1 #header-text {
    font-size: 0.4em;
    font-weight: bold;
  }
}

/* Responsive Award Winner */
@media (max-width: 991px) {
  #home #award-winner {
    width: 8.8em;
    height: 8.84em;
    font-size: 1em;
    padding-top: 37px;
    margin-top: 160px;
  }
  #home #arrow {
    border-style: solid;
    border-width: 30px 67px 0 73px;
    position: absolute;
    top: 139px;
    right: 0px;
    border-color: #98ab7a transparent transparent transparent;
  }
  #home h1 {
    width: 90%;
    margin-top: 80px;
    font-size: 2.4em;
  }
  #home h1 #header-text {
    font-size: 0.4em;
  }
}

@media (max-width: 874px) {
  #home #award-winner {
    top: 132px;
    right: 30px;
  }
}

@media (max-width: 694px) {
  #home #award-winner {
    top: 98px;
    right: 30px;
  }
}

@media (max-width: 630px) {
  #home #award-winner {
    display: none;
  }
}

/* WELCOME TO NOVA CAPITAL */
#welcome-nova-capital {
  background-color: #27282b;
  /* NOVA ARTICLE */
}

#welcome-nova-capital #nova-article h1 {
  color: #d9d7e5;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  padding-top: 40px;
}

#welcome-nova-capital #nova-article .img-fluid {
  padding-top: 80px;
  margin-left: 75px;
  width: 105%;
  height: 100vh;
  opacity: 0.7;
}

#welcome-nova-capital #nova-article .img-fluid:hover {
  opacity: 1;
}

#welcome-nova-capital #nova-article article {
  background-color: #36393d;
  vertical-align: middle;
  margin-top: 100px;
  text-align: center;
  height: 80vh;
}

#welcome-nova-capital #nova-article article h2 {
  padding-top: 45px;
  color: #98ab7a;
  font-size: 45px;
  letter-spacing: 2px;
}

#welcome-nova-capital #nova-article article h2 u {
  text-decoration: none;
  border-bottom: 1px solid #98ab7a;
}

#welcome-nova-capital #nova-article article h3 {
  font-style: italic;
  color: #d9d7e5;
  font-size: 35px;
  padding-top: 20px;
}

#welcome-nova-capital #nova-article article p {
  font-size: 16px;
  color: #98ab7a;
  padding-top: 15px;
  width: 300px;
  margin: auto;
}

#welcome-nova-capital #nova-article article h4 {
  font-size: 15px;
  color: #d9d7e5;
  padding-top: 35px;
  width: 300px;
  margin: auto;
}

/* NOVA ARTICLE RESPONSIVE */
@media (max-width: 991px) {
  #welcome-nova-capital #nova-article .img-fluid {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  #welcome-nova-capital #nova-article article {
    width: 70%;
    margin: auto;
    height: auto;
    z-index: 999;
    margin-top: -100px;
  }
}

@media (max-width: 800px) {
  #welcome-nova-capital #nova-article article h2 {
    font-size: 2em;
  }
  #welcome-nova-capital #nova-article article h3 {
    font-size: 2em;
  }
  #welcome-nova-capital #nova-article article p {
    font-size: 0.7em;
  }
  #welcome-nova-capital #nova-article article h4 {
    font-size: 0.7em;
  }
}

@media (max-width: 700px) {
  #welcome-nova-capital #nova-article article h2 {
    font-size: 1.5em;
  }
  #welcome-nova-capital #nova-article article h3 {
    font-size: 1.5em;
  }
  #welcome-nova-capital #nova-article article p {
    font-size: 0.5em;
  }
  #welcome-nova-capital #nova-article article h4 {
    font-size: 0.5em;
  }
}

/* KITCHEN ARTICLE */
#kitchen-article article {
  background-color: #36393d;
  vertical-align: middle;
  margin-top: 100px;
  text-align: center;
  height: 80vh;
  position: absolute;
  z-index: 999;
  width: 600px;
  margin-left: 75px;
}

#kitchen-article article h2 {
  padding-top: 45px;
  color: #98ab7a;
  font-size: 45px;
  letter-spacing: 2px;
}

#kitchen-article article h2 u {
  text-decoration: none;
  border-bottom: 1px solid #98ab7a;
}

#kitchen-article article h3 {
  font-style: italic;
  color: #d9d7e5;
  font-size: 35px;
  padding-top: 20px;
}

#kitchen-article article p {
  font-size: 16px;
  color: #98ab7a;
  padding-top: 15px;
  width: 300px;
  margin: auto;
}

#kitchen-article .img-fluid {
  padding-top: 80px;
  margin-left: -75px;
  width: 105%;
  height: 100vh;
  opacity: 0.7;
}

#kitchen-article .img-fluid:hover {
  opacity: 1;
}

/* KITCHEN ARTICLE RESPONSIVE */
@media (max-width: 991px) {
  #welcome-nova-capital #kitchen-article article {
    position: absolute;
    width: 35%;
    margin: auto;
    margin-top: 107px;
  }
  #welcome-nova-capital #kitchen-article article h2 {
    font-size: 2em;
  }
  #welcome-nova-capital #kitchen-article article h3 {
    font-size: 1.6em;
  }
  #welcome-nova-capital #kitchen-article .img-fluid {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}

@media (max-width: 870px) {
  #welcome-nova-capital #kitchen-article article {
    position: absolute;
    height: auto;
  }
  #welcome-nova-capital #kitchen-article article h2 {
    font-size: 1.6em;
  }
  #welcome-nova-capital #kitchen-article article h3 {
    font-size: 1.2em;
  }
  #welcome-nova-capital #kitchen-article article p {
    font-size: 0.5em;
    width: auto;
  }
}

@media (max-width: 620px) {
  #welcome-nova-capital #kitchen-article article h2 {
    font-size: 0.9em;
  }
  #welcome-nova-capital #kitchen-article article h3 {
    font-size: 0.9em;
  }
}

@media (max-width: 570px) {
  #welcome-nova-capital #kitchen-article article {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */