$black-color: #000000;
$white-color: #ffffff;

/* NAVIGATION */
.bg-light {
  background: #AE62CC !important;

  .nav-link {
    font-size: 20px;
  }
}

.navbar-light .navbar-nav .active>.nav-link {
  color: $white-color;
}

@media (max-width: 991px) {
  .bg-light { padding-top: 30px}
}

/* Forms */
 form {
  padding-top: 120px;
}
